{% extends "base_site.html" %}

{% block header %}
<div id="header">
    <div class="logo">Site Logo</div>
</div>
{% endblock %}

{% block body %}

<div id="main_content">
    {% block main_content %}
    <div id="main_title">
        {% block title %}
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% endblock %}
</div>

<div id="sidebar">
    <h3>Sidebar</h3>
    {% block sidebar %}
    {% endblock %}
</div>

{% endblock %}

{% block footer %}
<div id="footer" class="clear">
    Powered by <a href="http://www.djangoproject.com">Django</a>
</div>
{% endblock %}
